<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>Login</title>

        <!-- Bootstrap CSS-->
        <link href="{% static 'dashboard/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
        <!-- Main CSS-->
        <link href="{% static 'dashboard/css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">SEC-ANALITY

                            </a>
                        </div>
                        <div class="login-form">

                            <form  method="post">
                                {% csrf_token%}
                                <div class="form-group">
                                    <label>username </label>
                                    <input class="au-input au-input--full" type="username" name="username" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                </div>

                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <!-- Jquery JS-->
        <script src="{% static 'dashboard/vendor/jquery-3.2.1.min.js' %}"></script>
        <!-- Bootstrap JS-->
        <script src="{% static 'dashboard/vendor/bootstrap-4.1/popper.min.js' %}"></script>
        <script src="{% static 'dashboard/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
        <!-- Vendor JS       -->

        <!-- Main JS-->
        <script src="{% static 'dashboard/js/main.js' %}"></script>
</body>

</html>
<!-- end document-->