{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        {% include 'dashboard/userbar.html' %}
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Family Members List</h2>
                                <a class="au-btn au-btn-icon au-btn--blue"
                                   href="{% url 'family_member_create' family_id=family.id %}">
                                    <i class="zmdi zmdi-plus"></i>add</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ismi</th>
                                        <th>Familiyasi</th>
                                        <th>Qarindoshlik</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for member in family_members %}
                                        <tr>
                                            <td>{{ member.pk }}</td>
                                            <td>{{ member.first_name }}</td>
                                            <td>{{ member.last_name }}</td>
                                            <td>{{ member.member_type }}</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a class="item" data-toggle="tooltip"
                                                       href="{% url 'family_member_edit' pk=member.id family_id=member.family_id %}"
                                                       data-placement="top" title="" data-original-title="Edit">
                                                        <i class="zmdi zmdi-edit text-warning"></i>
                                                    </a>
                                                    <a class="item" data-toggle="tooltip"
                                                       href="{% url 'family_member_delete' pk=member.id %}"
                                                       data-placement="top" title="" data-original-title="Delete">
                                                        <i class="zmdi zmdi-delete text-danger"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                            <a class="au-btn au-btn-icon au-btn--blue" href="{{ family.address_link }}">
                                <i class="zmdi zmdi-local-taxi"></i>Manzil</a>
                            {#                            <div id="map" style="width: 100%;height: 400px"></div>#}

                            {#<div style="width: 100%"><iframe width="80%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Yangibazar+(Tashkent)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="http://www.gps.ie/">gps systems</a></iframe></div>#}


                            {#                            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"#}
                            {#                                    async#}
                            {#                            ></script>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
    {#    <script>#}
    {#        var loadFile = function (event) {#}
    {#            var reader = new FileReader();#}
    {#            reader.onload = function () {#}
    {#                var output = document.getElementById('output');#}
    {#                output.src = reader.result;#}
    {#            };#}
    {#            reader.readAsDataURL(event.target.files[0]);#}
    {#        };#}
    {#    </script>#}
    {##}
    {#    <script>#}
    {#        function initMap() {#}
    {#            // The location of Uluru#}
    {#            const uluru = {lat: -25.344, lng: 131.036};#}
    {#            // The map, centered at Uluru#}
    {#            const map = new google.maps.Map(document.getElementById("map"), {#}
    {#                zoom: 4,#}
    {#                center: uluru,#}
    {#            });#}
    {#            // The marker, positioned at Uluru#}
    {#            const marker = new google.maps.Marker({#}
    {#                position: uluru,#}
    {#                map: map,#}
    {#            });#}
    {##}
    {#        }#}
    {#    </script>#}
{% endblock %}