{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

 <div class="page-container">
    <!-- HEADER DESKTOP-->
    {%include 'dashboard/userbar.html'%}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Add Family</h2>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Company</strong>
                                <small> Form</small>
                            </div>
                            <div class="card-body card-block">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class=" form-control-label">Oila nomi</label>
                                        {{form.title}}
                                        <label  class=" form-control-label">Manzil</label>
                                        {{form.address}}
                                        <label  class=" form-control-label">Mahalla</label>
                                        {{form.mahalla}}
{#                                        <label  class=" form-control-label">Qr kod</label>#}
<div style="width: 100%;margin: 20px"><iframe width="50%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Yangibazar+(Tashkent)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="http://www.gps.ie/">gps systems</a></iframe></div>

{#                                        {{form.qr_code}}#}
                                    </div>

                                    {% if model %}
                                    <button type="submit" class="btn btn-warning btn-md">Save</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-success btn-md">Add</button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}