{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        {% include 'dashboard/userbar.html' %}
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Family List</h2>
                                <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'family_create' %}">
                                    <i class="zmdi zmdi-plus"></i>add</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>QR kod</th>
                                        <th>Nomi</th>
                                        <th>Manzil</th>
                                        <th>Mahalla</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for family in families %}

                                        <tr>

                                                <td>{{ family.id }}</td>
                                                <td>
                                                    <img src="{% if family %}/media/{{ family.qr_code }}{% endif %}" alt="qrcode" width="100" height="100">

                                                </td>
                                                <td>{{ family.title }}</td>
                                                <td>{{ family.address }}</td>
                                                <td>{{ family.mahalla }}</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <a class="item" data-toggle="tooltip"
                                                           href="{% url 'family_edit' pk=family.id %}"
                                                           data-placement="top" title="" data-original-title="Edit">
                                                            <i class="zmdi zmdi-edit text-warning"></i>
                                                        </a>
                                                        <a class="item" data-toggle="tooltip"
                                                           href="{% url 'family_delete' pk=family.id %}"
                                                           data-placement="top" title="" data-original-title="Delete">
                                                            <i class="zmdi zmdi-delete text-danger"></i>
                                                        </a>
                                                        <a href="{% url 'family_detail' pk=family.id %}" class="item" data-toggle="tooltip"  data-placement="top" title="" data-original-title="More">
                                                            <i class="zmdi zmdi-apps text-success"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
{% endblock %}