
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
 <div class="page-container">
    <!-- HEADER DESKTOP-->
    {%include 'dashboard/userbar.html'%}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Add Family Member</h2>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Family Member</strong>
                                <small> Form</small>
                            </div>
                            <div class="card-body card-block">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class=" form-control-label">Ismi</label>
                                        {{form.first_name}}
                                        <label  class=" form-control-label">Familiyasi</label>
                                        {{form.last_name}}
                                        <label  class=" form-control-label">Qarindoshlik</label>
                                        {{form.member_type}}
                                    </div>

                                    {% if model %}
                                    <button type="submit" class="btn btn-warning btn-md">Save</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-success btn-md">Add</button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}